<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @auditorium.codigo %>
</p>

<p>
  <strong>Programed at:</strong>
  <%= @auditorium.programed_at %>
</p>

<%= link_to 'Edit', edit_auditorium_path(@auditorium) %> |
<%= link_to 'Back', auditoria_path %>
